*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    height: 100%;
}
.center{
    width: 1226px;
    height: 100%;
    margin:0 auto;
}
.list{
    float:right;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;

}
.f1{
    float:left;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}
.f1 li{
    float:left;
}
.list li{
    float:left;
    padding:0 2px;
}
.list .fore1{
    margin-right:10px;
}